{% extends 'index.html' %}

{% block 'title' %} Register {% endblock %}


{% block 'contents' %}

<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-3">
            <!-- Coluna vazia para centralizar o elemento -->
        </div>
        <div class="col-md">
            <h1 class="text-center">Register</h1>
        </div>
        <div class="col-md-3">
            <!-- Coluna vazia para centralizar o elemento -->
        </div>
    </div>
</div>

{% endblock %}
